<section>
	<h2 class="section-title">Resumo</h2>
	<div class="content">
		<p>
			Sou o Felipe Campelo, tenho 29 anos e resido em Recife, Pernambuco, Brasil. Sou apaixonado por tecnologia e posso dizer que faço o que realmente gosto e nasci para fazer: impulsionar empresas através de soluções de dados.
		</p>
		<br />
		<p>
			Minha formação e minha primeira experiência com processos e automação me ensinaram a pensar em sistema de ponta a ponta e foi natural ir migrando esse jeito de resolver problema para o mundo dos dados, onde o desafio é fazer a informação chegar certeira, no tempo certo, para quem precisa decidir. Gosto de levar ideias do papel até algo que funcione de verdade, ou seja, sistemas que outras pessoas possam confiar no dia a dia, sem precisar se preocupar com cada detalhe por trás da cortina.
		</p>
		<br />
		<p>
			Valorizo ambientes onde dá para aprender em conjunto, compartilhar o que descobri e elevar o nível do time. Pra mim, a colaboração é um dos principais pilares de um trabalho bem sucedido. Outros pontos cruciais são honestidade, responsabilidade com o que coloco em produção e aquele cuidado de deixar o trabalho mais simples de manter para o próximo que passar por ali.
		</p>
		<br />
		<p>Sigo atento com o que muda na área e gosto de explorar, testar e aprender novas ferramentas.</p>
	</div>
</section>
<section>
	<h2 class="section-title">Experiência</h2>
	<div class="content">
		<p><strong class="role-highlight">Mekatronik: Estagiário de Engenharia, Maio 2020 até Maio 2021</strong></p>
		<p>
			<em>Desenvolvimento e auxílio em projetos de automação industrial, tanto para a programação das máquinas como para a programação de IHMs e supervisórios.</em>
		</p>
		<br />
		<p><strong class="role-highlight">Invisto: Data Engineer Freelancer, Novembro 2022 até Dezembro 2022</strong></p>
		<p>
			<em>O projeto consiste na migração de dados do PostgreSQL local para o Cloud SQL (Postgres 14) e automação de pipelines através do Composer / Airflow com obtenção de dados diários, semanais e mensais através do protocolo SFTP. Trabalho de ponta a ponta desde a origem dos dados até a ferramenta de visualização Metabase. O provedor de recursos de computação em nuvem utilizado em todo o projeto foi o Google Cloud Platform.</em>
		</p>
		<br />
		<p><strong class="role-highlight">Motorola / CIn-UFPE: Residente em Desenvolvimento de Software com Ênfase em Testes, Abril 2023 até Abril 2024</strong></p>
		<p>
			<em>Como residente em desenvolvimento de software com ênfase em testes, tive a oportunidade de atuar no time de Stability da Motorola, ao mesmo tempo em que recebia treinamento especializado. Durante essa experiência, colaborei em equipe para desenvolver soluções de testes, otimizar fluxos de trabalho e implementar soluções eficientes. O programa me permitiu aprimorar minhas habilidades técnicas, trabalhando com uma variedade de ferramentas e tecnologias de testes, ao mesmo tempo em que adquiri insights valiosos sobre trabalho em equipe e resolução de problemas em um ambiente corporativo altamente intenso e dinâmico. Ao fim da especialização, realizei um projeto que eliminou 20 horas por semana de trabalho manual, aumentou a precisão e consistência dos processos e melhorou a eficiência operacional da equipe. Mais detalhes na aba de projetos.</em>
		</p>
		<br />
		<p><strong class="role-highlight">Indicium AI: Data Engineer Apprentice, Abril 2023 até Setembro 2023</strong></p>
		<p>
			<em>Como participante do programa Lighthouse da Indicium, tive a oportunidade de trabalhar em projetos com dados reais, ao mesmo tempo em que recebia treinamento especializado com foco em engenharia de dados. Durante essa experiência, colaborei em equipe para desenvolver pipelines de dados, otimizar fluxos de trabalho e implementar soluções eficientes para lidar com desafios complexos relacionados a dados. O programa me permitiu aprimorar minhas habilidades técnicas, trabalhando com uma variedade de ferramentas e tecnologias de dados, ao mesmo tempo em que adquiri insights valiosos sobre trabalho em equipe e resolução de problemas em um ambiente focado em dados.</em>
		</p>
		<br />
		<p><strong class="role-highlight">Indicium AI: Data Engineer, Setembro 2023 até Maio 2025</strong></p>
		<p>
			<em>Como engenheiro de dados na Indicium, meu foco foi desenvolver e manter soluções de dados para aumentar a eficiência operacional e fornecer insights estratégicos. As principais responsabilidades incluíram:</em>
		</p>
		<ul>
			<li>Desenvolvimento de pipelines de dados: projetar e manter pipelines ETL eficientes para garantir um processamento de dados de alta qualidade.</li>
			<li>Melhores práticas: implementar e promover as melhores práticas de engenharia de dados, como automação, governança de dados e garantia de qualidade.</li>
			<li>Colaboração multifuncional: Trabalhar com cientistas de dados, analistas e desenvolvedores para garantir que as soluções de dados estejam alinhadas às necessidades do negócio.</li>
			<li>Mentoria: Orientar membros juniores da equipe e compartilhar conhecimento para promover o crescimento dentro da equipe de dados.</li>
			<li>Melhoria contínua: Manter-se atualizado sobre as últimas tendências em engenharia de dados e integrar novas ferramentas para aprimorar os processos.</li>
			<li>Integração e coleta de dados: Garantir a qualidade e a consistência dos dados em várias fontes.</li>
			<li>Otimização de processos: Automatizar pipelines de dados para melhorar a eficiência e reduzir o tempo de processamento.</li>
			<li>Colaboração: Traduzir requisitos de negócios em soluções técnicas de dados.</li>
		</ul>
		<br />
		<p><strong class="role-highlight">Indicium AI: Team Lead Data Engineer, Maio 2025 até Novembro 2025</strong></p>
		<p>
			<em>Como engenheiro de dados e líder de equipe na Indicium, combinei liderança com execução prática, impulsionando a visão técnica e contribuindo ativamente para o projeto e o desenvolvimento de soluções de dados. Liderei uma equipe de engenheiros, garantindo a entrega de pipelines escaláveis, confiáveis e de alta qualidade que potencializam os negócios com insights acionáveis. As principais responsabilidades foram:</em>
		</p>
		<ul>
			<li>Desenvolvimento prático: Envolvimento contínuo no projeto, na construção e na otimização de pipelines e plataformas de dados, garantindo a excelência técnica por meio de contribuição direta.</li>
			<li>Liderança técnica: Definição de padrões de arquitetura, revisão de implementações e promoção das melhores práticas em engenharia de dados.</li>
			<li>Gestão de equipe e mentoria: Orientação e apoio à equipe, promovendo o crescimento e cultivando uma cultura de aprendizagem e responsabilidade.</li>
			<li>Alinhamento estratégico: Colaborar com partes interessadas, cientistas de dados e analistas para traduzir requisitos de negócios em soluções técnicas robustas.</li>
			<li>Otimização de processos: Impulsionar a automação, a escalabilidade e melhorias de desempenho em todo o nosso ecossistema de dados.</li>
			<li>Governança e qualidade de dados: Supervisionar práticas de governança, garantindo a integridade, a segurança e a conformidade de todos os fluxos de trabalho de dados.</li>
			<li>Inovação: Pesquisar e adotar tecnologias emergentes para manter nossa pilha de dados moderna e competitiva.</li>
		</ul>
		<br />
		<p><strong class="role-highlight">UOL Edtech: Data Engineer Sênior, Novembro 2025 até hoje</strong></p>
		<p>
			<em>Como engenheiro de dados sênior na UOL EdTech, minhas tarefas incluem manter os pipelines de dados atuais, otimizar aqueles que não estão apresentando bom desempenho, reduzir custos por meio de análises e implementações, realizar migrações entre as três principais nuvens (AWS, GCP e Azure), otimizar a modelagem com o dbt, estruturar o data lake e o data warehouse, entre outras.</em>
		</p>
	</div>
</section>
<section>
	<h2 class="section-title">Educação</h2>
	<div class="content">
		<p><strong class="education-highlight">Graduação em Engenharia de Controle e Automação</strong></p>
		<p><em>Universidade de Pernambuco (UPE)</em></p>
		<br />
		<p><strong class="education-highlight">Pós-graduação em Desenvolvimento de Software com Ênfase em Testes</strong></p>
		<p><em>Universidade Federal de Pernambuco (UFPE)</em></p>
	</div>
</section>
<section>
	<h2 class="section-title">Habilidades</h2>
	<div class="content">
		<p>
			Google Cloud Platform (GCP), Amazon Web Services (AWS), Microsoft Azure, Python, Pandas, PySpark, SQL, PostgreSQL, MySQL, MongoDB, Airflow, Databricks, Snowflake, Kafka, Mlflow, dbt, GitLab, CI/CD, Jenkins, Terraform, Kubernetes, Git, GitHub, Bitbucket.
		</p>
	</div>
</section>
<section>
	<h2 class="section-title">Certificações</h2>
	<div class="content">
		<p>5x Certified Databricks | 1x Certified Snowflake | 2x Certified AWS | 1x Certified GCP.</p>
	</div>
</section>
